*{
    
   
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: content-box;
}
body{
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center; 
}
main {
    margin-bottom: 70px;
}
.title{
    font-size:2rem;
    font-weight:bold;
    margin:15px;
    color:#333;
}

footer{
    background: #333;
    color:white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
nav{
    background: #333;
    color:white;
    padding: 10px;
}

nav a{
    color: white;
    text-decoration: none;
    margin-right:15px;
    font-weight: bold;
    font-size: 18px;
}
nav a:hover{
    color: rgb(79, 45, 226);
    
}
nav ul li{
    display: inline-block;
    list-style-type: none;
}
table{
    background:white;
    width:80%;
    margin:2px auto;
    border-collapse: collapse;
}
td,th{
    border: 1px solid #ccc;
    padding:8px;
    
}
.qta{
    padding: 5px 10px;
    border-radius: 6px;
    color:white;
    font-weight: bold;
    font-size:14px;

}
.esaurito{
    background-color: red;
}
.scarso{
    background-color: orange;
}
.buono{
     background-color: green;   
}
.stats{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin:30px;
}
.card{
    
    background-color: white;
    padding:20px;
    border-radius: 10px;
    width: 220px;
    text-align:center;
    box-shadow: 0 0 5px rgba(0, 0, 75, 0.8);
    color:#333;
}
.alert{
    display: flex;
    flex-wrap:wrap;
    width:80%;
    margin: 20px auto;
    background-color: white;
    padding:20px;
    border-radius: 10px;
    text-align:center;
    color: red;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 75, 0.8);
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 25px;
}
.btn:hover{
    background-color: rgb(79, 45, 226);
}
  /*riferito alla cartella --tavoli*/
.tavoli{
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    background-color: white;
    flex-wrap: wrap;
    border-radius: 10px;
    width: 100%;
    text-align:center;
    box-shadow: 0 0 5px rgba(0, 0, 75, 0.8);
    color:#333;
}
.tavolo{
    background-color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center; 
    padding:20px;
    border-radius: 10px;
    width: 80%;
    text-align:center;
    box-shadow: 0 0 5px rgba(0, 0, 75, 0.8);
    color:#333;
}
.supporto-titolo{
    background-color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center; 
    margin: 25px 0 25px 0 ;
    border-radius: 10px;
    width: 100%;
    text-align:center;
    box-shadow: 0 0 5px rgba(0, 0, 75, 0.8);
    color:#333;
    font-weight: bold;
    font-size: 25px;
}
.warning{
    width: 100%;
    text-align:center;
    box-shadow: 0 0 5px rgba(0, 0, 75, 0.8);
    color:#963131;
    font-weight: bold;
}
.controllopositivo{
    display:none;
}